
 
<div _ngcontent-jfp-c163="" fxlayout="row wrap " style="flex-flow: wrap; box-sizing: border-box; display: flex;">
  <div _ngcontent-jfp-c163="" style="margin-right: 10px; margin-bottom: 6px; position: relative; z-index: 1;" class="ng-star-inserted">
    <label _ngcontent-jfp-c163="" for="field_groupe" class="form-control-label">
      <b _ngcontent-jfp-c163=""></b>
    </label>
    <select _ngcontent-jfp-c163="" id="field_groupe" name="ec" required="" class="form-control-lg ng-touched ng-dirty ng-invalid" style="position: relative; z-index: 1;">
      <option _ngcontent-jfp-c163="" selected="" value="0: null"></option>
      <option _ngcontent-jfp-c163="" value="1: Object" class="ng-star-inserted">Anglais Technique</option>
      <option _ngcontent-jfp-c163="" value="2: Object" class="ng-star-inserted">Aspects juridiques et éthique des TIC</option>
      <option _ngcontent-jfp-c163="" value="3: Object" class="ng-star-inserted">Technique d'expression</option>
      <option _ngcontent-jfp-c163="" value="4: Object" class="ng-star-inserted">Recherche Opérationnelle</option>
      <option _ngcontent-jfp-c163="" value="5: Object" class="ng-star-inserted">Probabilités et Statistiques</option>
      <option _ngcontent-jfp-c163="" value="6: Object" class="ng-star-inserted">Algorithmique et Structures de Données</option>
      <option _ngcontent-jfp-c163="" value="7: Object" class="ng-star-inserted">Langage C</option>
      <option _ngcontent-jfp-c163="" value="8: Object" class="ng-star-inserted">Programmation Orienté-Objet avancée</option>
      <option _ngcontent-jfp-c163="" value="9: Object" class="ng-star-inserted">Systèmes d'exploitation</option>
      <option _ngcontent-jfp-c163="" value="10: Object" class="ng-star-inserted">Services réseaux avancés</option>
      <option _ngcontent-jfp-c163="" value="11: Object" class="ng-star-inserted">Systèmes de Gestion de Bases de Données Avancés</option>
      <option _ngcontent-jfp-c163="" value="12: Object" class="ng-star-inserted">Données Semi-Structurées</option>
      <option _ngcontent-jfp-c163="" value="13: Object" class="ng-star-inserted">Introduction au Génie logicielle</option>
      <option _ngcontent-jfp-c163="" value="14: Object" class="ng-star-inserted">UML</option>
      <option _ngcontent-jfp-c163="" value="15: Object" class="ng-star-inserted">Technologie de Sécurités</option>
      <option _ngcontent-jfp-c163="" value="16: Object" class="ng-star-inserted">Administration d'un Réseau local</option>
      <option _ngcontent-jfp-c163="" value="17: Object" class="ng-star-inserted">Bases de Données Nouvelle Génération</option>
      <option _ngcontent-jfp-c163="" value="18: Object" class="ng-star-inserted">Patrons de Conception et Tests Logiciels</option>
      <option _ngcontent-jfp-c163="" value="19: Object" class="ng-star-inserted">Ingénierie des Processus Logiciels</option>
      <option _ngcontent-jfp-c163="" value="20: Object" class="ng-star-inserted">Gestion de projets et Travail Coopératif</option>
      <option _ngcontent-jfp-c163="" value="21: Object" class="ng-star-inserted">Veille technologique</option>
      <option _ngcontent-jfp-c163="" value="22: Object" class="ng-star-inserted">Stage</option>
      <option _ngcontent-jfp-c163="" value="23: Object" class="ng-star-inserted">Mémoire</option>
      <option _ngcontent-jfp-c163="" value="24: Object" class="ng-star-inserted">Soutenance</option>
      <option _ngcontent-jfp-c163="" value="25: Object" class="ng-star-inserted">Développement Web Dynamiques</option>
      <option _ngcontent-jfp-c163="" value="26: Object" class="ng-star-inserted">Dévoloppement Mobile Avancé</option>
      <!-- Options de sélection -->
    </select>
  </div>
  <!---->
</div>
<br _ngcontent-jfp-c163="">
<br _ngcontent-jfp-c163="">

